<div class="modal fade" id="newBeaconModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New Beacon</h4>
      </div>
      <form id="newBeaconForm" action="/beacons" method="post">
        <div class="modal-body">
          <!-- show any messages that come back with authentication -->
          <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
          <% } %>
          <% for(var error in valErr['errors']) { %>
            <div class="alert alert-danger"><%= valErr['errors'][error].message %></div>
          <% } %>


          <div class="input-group" id='uuidx' style="margin-bottom:20px">
            <div class="col-md-4">
              <label for="disabledTextInput">UUID - Cliente</label>
              <select name="uuid" class="form-control">
                <% for(var i=0; i<clients.length; i++) { %>
                  <option value='<%= clients[i].primary_uuid %>'>1º - <%= clients[i].name %></option>
                  <option value='<%= clients[i].secondary_uuid %>'>2º - <%= clients[i].name %></option>
                <% } %>
              </select>
            </div>
            <div class="col-md-4">
              <label for="disabledTextInput">Major ID - Local</label>
              <select name="uuid" class="form-control">
                <% for(var i=0; i<clients.length; i++) { %>
                  <option value='<%= clients[i].primary_uuid %>'>1º - <%= clients[i].name %></option>
                  <option value='<%= clients[i].secondary_uuid %>'>2º - <%= clients[i].name %></option>
                <% } %>
              </select>
            </div>
            <div class="col-md-4">
              <label for="disabledTextInput">Minor ID - Area</label>
              <select name="uuid" class="form-control">
                <% for(var i=0; i<clients.length; i++) { %>
                  <option value='<%= clients[i].primary_uuid %>'>1º - <%= clients[i].name %></option>
                  <option value='<%= clients[i].secondary_uuid %>'>2º - <%= clients[i].name %></option>
                <% } %>
              </select>
            </div>
          </div>

          <div class="input-group" id='uuid' style="margin-bottom:20px">
            <span class="input-group-addon">UUID  </span>
            <input type="text" class="form-control" placeholder="12312312312-1231-2312-3123-123123123123" name="uuid" pattern="^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$" required>
          </div>
          <div class="input-group" id='minor_id' style="margin-bottom:20px">
            <span class="input-group-addon">Minor ID</span>
            <input type="number" class="form-control" placeholder="1" name="minor_id">
          </div>
          <div class="input-group" id='major_id' style="margin-bottom:20px">
            <span class="input-group-addon">Major ID</span>
            <input type="number" class="form-control" placeholder="2" name="major_id">
          </div>
          <div class="input-group" id='content' style="margin-bottom:0px">
            <span class="input-group-addon">Content</span>
            <textarea class="form-control" rows="3" name="content"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" value="Add" id='addNewBeaconButton' disabled/>
        </div>
      </form>
    </div>
  </div>
</div>

<% if (routeNew == true) { %>
  <script>
    $('#newBeaconModal').modal();
  </script>
<% } %>
