<div class="modal fade" id="newBeaconModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add New Beacon</h4>
      </div>
      <form id="newBeaconForm" action="/beacons" method="post">
        <div class="modal-body">
          <!-- show any messages that come back with authentication -->
          <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
          <% } %>
          <% for(var error in valErr['errors']) { %>
            <div class="alert alert-danger"><%= valErr['errors'][error].message %></div>
          <% } %>
          <div class="row">
            <div class="col-md-12" style="margin-bottom:20px">
              <label for="disabledTextInput">UUID - Cliente</label>
              <select name="uuid" class="form-control" id="newBeaconUUIDSelect">
                <option value='0'>Choose a client</option>
                <% for(var i=0; i<clients_side.length; i++) { %>
                  <% if (clients_side[i].stores.length > 0 && clients_side[i].areas.length > 0) { %>
                  <option value='<%= clients_side[i].primary_uuid %>' id='<%= clients_side[i]._id %>'>1ยบ - <%= clients_side[i].name %></option>
                  <option value='<%= clients_side[i].secondary_uuid %>' id='<%= clients_side[i]._id %>'>2ยบ - <%= clients_side[i].name %></option>
                  <% } %>
                <% } %>
              </select>
            </div>
          </div>
          <div class="row" id="completeNewBeaconForm">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<% if (routeNew == true) { %>
  <script>
    $('#newBeaconModal').modal();
  </script>
<% } %>
